@model WrestlerCreate
@{
	ViewData["Title"] = "Create a Wrestler";
}

<h1>Create a Wrestler</h1>
<hr>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="Create" method="post" class="row g-3">
	<div class="col-ms-6">
		<label asp-for="Name" class="form-label"></label>
		<input asp-for="Name" class="form-control">
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>

	<div class="col-ms-6">
		<label asp-for="Image" class="form-label">Image URL</label>
		<input asp-for="Image" class="form-control">
		<span asp-validation-for="Image" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Status">Active</label>
		<input asp-for="Status" type="checkbox" class="form-check-input" />
		<span asp-validation-for="Status" class="text-danger"></span>
	</div>

	<div class="col-ms-6">
		<label asp-for="Established" class="form-label"></label>
		<input asp-for="Established" type="date" class="form-control">
		<span asp-validation-for="Established" class="text-danger"></span>
	</div>

	<div class="col-ms-6" id="RetiredField">
		<label asp-for="Retired" class="form-label"></label>
		<input asp-for="Retired" type="date" class="form-control">
		<span asp-validation-for="Retired" class="text-danger"></span>
	</div>

	<div class="col d-flex justify-content-between align-items-baseline">
		<a asp-action="Index">Back to List</a>
		<input type="submit" value="Create" class="btn btn-primary">
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		// Function to toggle visibility and required validation of the Retired field
		function toggleRetiredField() {
				const RetiredField = document.getElementById("RetiredField");
				const statusCheckbox = document.getElementById("@Html.IdFor(m => m.Status)");
				const RetiredInput = document.getElementById("@Html.IdFor(m => m.Retired)");

				if (statusCheckbox && RetiredField && RetiredInput) {
					if (statusCheckbox.checked) {
						RetiredField.style.display = "none";
						RetiredInput.removeAttribute("required");
					} else {
						RetiredField.style.display = "block";
						RetiredInput.setAttribute("required", "required");
					}
				}
		}

		// Add event listener to the Status checkbox to handle changes
		const statusCheckbox = document.getElementById("@Html.IdFor(m => m.Status)");
		statusCheckbox.addEventListener("change", toggleRetiredField);

		// Initial call to toggle the field visibility on page load
		toggleRetiredField();
	</script>
}
