@model WrestlerCreate
@{
	ViewData["Title"] = "Create a Wrestler";
}

<h1>Create a Wrestler</h1>
<hr>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="Create" method="post" class="row g-3">
	<div class="col-ms-6">
		<label asp-for="Name" class="form-label"></label>
		<input asp-for="Name" class="form-control">
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>

	<div class="col-ms-6">
		<label asp-for="Picture" class="form-label"></label>
		<input asp-for="Picture" class="form-control">
		<span asp-validation-for="Picture" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Status">Active</label>
		<input asp-for="Status" type="checkbox" class="form-check-input" />
		<span asp-validation-for="Status" class="text-danger"></span>
	</div>

	<div class="col-ms-6">
		<label asp-for="DateStart" class="form-label"></label>
		<input asp-for="DateStart" class="form-control">
		<span asp-validation-for="DateStart" class="text-danger"></span>
	</div>

	<div class="col-ms-6" id="DateEndField">
		<label asp-for="DateEnd" class="form-label"></label>
		<input asp-for="DateEnd" class="form-control">
		<span asp-validation-for="DateEnd" class="text-danger"></span>
	</div>

	<div class="col d-flex justify-content-between align-items-baseline">
		<a asp-action="Index">Back to List</a>
		<input type="submit" value="Create" class="btn btn-primary">
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		// Function to toggle visibility and required validation of the DateEnd field
		function toggleDateEndField() {
			const DateEndField = document.getElementById("DateEndField");
			const statusCheckbox = document.getElementById("@Html.IdFor(m => m.Status)");
			const DateEndInput = document.getElementById("@Html.IdFor(m => m.DateEnd)");

			if (statusCheckbox && DateEndField && DateEndInput) {
					if (statusCheckbox.checked) {
						DateEndField.style.display = "none";
						DateEndInput.removeAttribute("required");
					} else {
						DateEndField.style.display = "block";
						DateEndInput.setAttribute("required", "required");
					}
			}
		}

		// Add event listener to the Status checkbox to handle changes
		const statusCheckbox = document.getElementById("@Html.IdFor(m => m.Status)");
		statusCheckbox.addEventListener("change", toggleDateEndField);

		// Initial call to toggle the field visibility on page load
		toggleDateEndField();
	</script>
}
