@model IEnumerable<WrestlerListItem>
@{
	ViewData["Title"] = "Wrestler Index";
}

<h1>Wrestler Index</h1>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Retired)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@item.Name
				</td>
				<td>
					@item.Retired
				</td>
			</tr>
		}
	</tbody>
</table>