@model ChampionshipDetail
@{
	ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>
<hr>

	<img src="@Model.Image" alt="@Model.Name Image">

<div>
	<a asp-action="Index">Back to List</a>
	<span>|</span>
	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>
