@model IEnumerable<PromotionListItem>
@{
	ViewData["Title"] = "Promotion Index";
}

<h1>Promotion Index</h1>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.PromotionName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PromotionDefunct)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@item.PromotionName
				</td>
				<td>
					@item.PromotionDefunct
				</td>
			</tr>
		}
	</tbody>
</table>