@{
    ViewData["Title"] = "Home Page";
}

<div>
    <br>
    @* Championship Index *@
    <h4><a asp-action="Index" asp-controller="Championship">Go to Championship List</a></h4>
    <br /><br />

    @* Championship Create *@
    <h4><a asp-action="Create" asp-controller="Championship">Create a New Championship</a></h4>
    <br /><br /><hr>

    <br>
    @* Promotion List *@
    <h4><a asp-action="Index" asp-controller="Promotion">Go to Promotion List</a></h4>
    <br /><br />

    @* Promotion Create *@
    <h4><a asp-action="Create" asp-controller="Promotion">Create a New Promotion</a></h4>
    <br /><br /><hr>

    <br>
    @* Wrestler List *@
    <h4><a asp-action="Index" asp-controller="Wrestler">Go to Wrestler List</a></h4>
    <br /><br />

    @* Wrestler Create *@
    <h4><a asp-action="Create" asp-controller="Wrestler">Create a New Wrestler</a></h4>
    <br /><br /><hr>
</div>
